* {
  font-family: "JetBrains Mono", monospace;
  user-select: none;
}

body {
  margin: 0px;
}
  
#app {
  min-height: 100vh;
  padding: 8px;
}

.lightmode {
  color: black;
  background-color: white;
}

.lightmode .container {
  border: 4px solid black;
}

.darkmode {
  color: white;
  background-color: black;
}

.darkmode .container {
  border: 4px solid white;
}

.achDiv {
  width: 190px;
  height: 130px;
  color: black;  
}

span {
  display: inline-block;
  padding: 5px;
}

.achGrid {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  height: auto;
  justify-content: center;
  grid-template-columns: repeat(10, 1fr); 
  gap: 10px; 
  /*margin: 5px;*/
}

.canBuy {
  background-color: lightgreen;
}

.cantBuy {
  background-color: lightcoral;
}

.achUnl {
  background-color: #66CD00;
  border: 6px solid green;
}

.achNotUnl {
  background-color: crimson;
  border: 6px solid #FF0000;
}

.achNotImpl {
  background-color: lightgray;
  border: 6px solid gray;
}

.vw5 {
  font-size: calc(12px + 0.5vw);
}

.vw3 {
  font-size: calc(12px + 0.3vw);
}

.vw1 {
  font-size: calc(12px + 0.1vw);
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

button:hover {
  transform: translateY(1px);
}

.container {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 10px;
  padding: 15px;
  height: 80vh;
}

.dropdownoptionbutton {
  width: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.optiondropdown {
  position: relative;
  display: inline-block;
}

.normaloptionbutton {
  border-radius: 4px;
}

.optiondropdowncontent {
  position: absolute;
  display: none;
  width: 194px;
  z-index: 1;
}

.lightmode .navbutton {
  background-color: black;
  color: white;
}

.navbutton {
  border-radius: 5px;
}

.darkmode .navbutton {
  color: black;
  background-color: white;
}

.lightmode .dropdownoptionbutton {
  background-color: black;
  color: white;
}

.darkmode .dropdownoptionbutton {
  color: black;
  background-color: white;
}

.lightmode .normaloptionbutton {
  background-color: black;
  color: white;
}

.darkmode .normaloptionbutton {
  color: black;
  background-color: white;
}

.lightmode .optiondropdowncontent {
  color: white;
  background-color: black;
  border: 3px solid black;
}

.darkmode .optiondropdowncontent {
  color: black;
  background-color: white;
  border: 3px solid white;
}

.darkmode .optiondropdowncontent div:hover {
  background-color: darkgray;
}

.lightmode .optiondropdowncontent div:hover {
  background-color: darkslategrey;
}

.optiondropdown:hover .optiondropdowncontent {
  display: block;
}

/*TODO: Condense these dropdown ones as they apply the same properties.*/