* {
  font-family: "JetBrains Mono", monospace;
  user-select: none;
}

span {
  display: inline-block;
  padding: 5px;
}

.font16 {
  font-size: calc(16px + 0.5vw);
}

.font12 {
  font-size: calc(12px + 0.5vw);
}

button {
  cursor: pointer;
}

button:hover {
  transform: translateY(-1px);
}

button:active {
  transform: translateY(2px);
}

.container {
  margin: 10px;
  padding: 15px;
  height: 80vh;
  border: 4px solid black;
}
