* {
  font-family: "JetBrains Mono", monospace;
  user-select: none;
}

body {
  margin: 0px;
  padding: 8px;
}

.lightmode {
  color: black;
  background-color: white;
}

.lightmode .container {
  border: 4px solid black;
}

.darkmode {
  color: white;
  background-color: black;
}

.darkmode .container {
  border: 4px solid white;
}

span {
  display: inline-block;
  padding: 5px;
}

.canBuy {
  background-color: lightgreen;
}

.cantBuy {
  background-color: lightcoral;
}

.vw5 {
  font-size: calc(12px + 0.5vw);
}

.vw3 {
  font-size: calc(12px + 0.3vw);
}

.vw1 {
  font-size: calc(12px + 0.1vw);
}

button {
  cursor: pointer;
  outline: none;
}

button:hover {
  transform: translateY(-1px);
}

button:active {
  transform: translateY(2px);
}

.container {
  margin: 10px;
  padding: 15px;
  height: 80vh;
}
