<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Project No-Name</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuex@3.6.2/dist/vuex.min.js"></script>
  <script src="break_eternity.min.js" type="text/javascript" defer></script>
  <script src="js/tagging.js" type="text/javascript" defer></script>
  <script src="js/app.js" type="text/javascript" defer></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@600&display=swap" rel="stylesheet">
  <link href="css/styles.css" rel="stylesheet" defer>
</head>
<body>
  <div id="app">
    <center>
      <span class="vw7">You currently have {{ formatted.apples }} apples.</span>
      <br>
      <span class="vw5">You are picking {{ formatted.apples_per_sec }} apples every second.</span>
      <br>
      <button @click="switchTab(1)" class="vw3">Main</button>
      <button @click="switchTab(2)" class="vw3">Options</button>
      <div class="container" v-if="current.tab === 1">
        <span class="vw5">You have {{ formatted.hands }} hands picking {{ formatted.gain_per_hand }} apples each.</span>
        <br>
        <button @click="buyHand" class="vw3" :class="{canBuy:can.buy.hand, cantBuy:!can.buy.hand}">
          Grow an extra hand.
          <br>
          Requires {{ formatted.hand_cost }} apples to be traded.
        </button>
      </div>
      <div class="container" v-if="current.tab === 2">
        <button @click="changeNotation" class="vw3">Current Notation: {{ current.notation }}</button>
        <button @click="reset" class="vw3">Reset Your Game</button>
      </div>
      <span class="vw3">
        <a href="https://github.com/JaymanM/NewIdleProject" target="_blank">Github Repository</a> 
        |
        <a href="https://discord.gg/ruP6HfB7hr" target="_blank">Discord</a>
      </span>
    </center>
  </div>
</body>
</html>