<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Game</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuex@3.6.2/dist/vuex.min.js"></script>
  <script src="break_eternity.min.js" type="text/javascript" defer></script>
  <script src="js/tagging.js" type="text/javascript" defer></script>
  <script src="js/app.js" type="text/javascript" defer></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@600&display=swap" rel="stylesheet">
  <link href="css/styles.css" rel="stylesheet" defer>
</head>
<body>
  <div id="app">
    <center>
      <span class="font16">You currently have {{ formatted.apples }} apples.</span>
      <br>
      <span class="font12">You are picking {{ formatted.apples_per_sec }} apples every second.</span>
      <br>
      <button @click="switchTab(1)">Main</button>
      <button @click="switchTab(2)">Options</button>
      <div class="container" v-if="current.tab === 1">
        You have {{ formatted.hands }} hands picking {{ formatted.gain_per_hand }} apples each.
        <br>
        <br>
        <button @click="buyHand">
          Grow an extra hand.
          <br>
          Requires {{ formatted.hand_cost }} apples to be traded.
        </button>
      </div>
      <div class="container" v-if="current.tab === 2">
        <button @click="changeNotation">Current Notation: {{ current.notation }}</button>
      </div>
      <a href="https://github.com/JaymanM/NewIdleProject" target="_blank">Github Repository</a>
    </center>
  </div>
</body>
</html>